.navbar {
  width: 100%;
  padding: 30px 100px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.navbar-title {
  color: white;
  font-size: 28px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  transition: 0.3s ease;
}

.navbar-links a:hover {
  opacity: 0.8;
}
