/* ===== HERO SECTION ===== */

.hero {
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-content {
  z-index: 2;
  text-align: center;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 20px;
}

/* ===== ABOUT US ===== */
.about-us-section {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.about-us-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #043915;
}

.about-us-text {
  font-size: 18px;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  color: #555;
}

html {
  scroll-behavior: smooth;
}
/* ===== PRODUCT SECTION ===== */

.product-section {
  padding: 40px 20px;
  text-align: center;
}

/* Judul Produk */
.product-title {
  color: #043915;
  font-size: 32px;
  margin-bottom: 20px;
}

/* Grid card produk */
.product-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Link More Products di tengah */
.more-products-link {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #4C763B;
  text-decoration: none;
  transition: 0.3s ease;
  margin-top: 10px;
}

.more-products-link:hover {
  color: #043915;
  text-decoration: underline;
  letter-spacing: 0.5px;
}



/* ===== FOOTER ===== */

.footer {
  width: 100%;
  background: #1a1a1a;
  color: white;
  padding: 40px 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.footer-description {
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 15px;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-copy {
  font-size: 13px;
  opacity: 0.7;
}
