/* Hilangkan margin & padding default browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Pastikan halaman full */
body {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}
